._giftly.png
._.DS_Store
._filter_images
.DS_Store
filter_images/._.DS_Store
filter_images/._angel_wings.png
filter_images/._fire_hand.png
filter_images/._sexy_elf.png
filter_images/._water_splash.png
filter_images/.DS_Store
