html, body {
    margin: 0;
    padding: 0;
}

html {
    background: url(../giftly.png);
}

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: center;
    
}

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    /* background-color: red;
    color: white;
    text-align: center;
} */

.aside {
    max-width: 25%;
}

.aside2 {
    flex: 1 auto;
    max-width: none;
}

@media all and (max-width: 850px) {
    .aside {
        flex: 1 auto;
        max-width: none;
    }
}

.empty {
  font-size: 30px;
  color: #777;
  margin-top: 250px;
  margin-left: 15px;
  position: absolute;
}

@media all {
    .main {
        flex: 3 0px;
    }
    .main {
        order: 1;
    }
    .aside {
        order: 2;
    }
    .aside2 {
        order: 2;
    }
    .footer {
        order: 3;
    }
}

#snap {
    margin: auto;
}

#video {
    margin-bottom: 3%;
}

#canvasvideo {
    position: absolute;
    top: 341px;
    width: 640px;
    height: 480px;
}

.videobox {
    background: #fff;
    border: 30px solid #fff;
    width: 640px;
}

.container {
    flex-wrap: wrap;
    display: flex;
}

.fleximgbox {
    margin: 5px;
    background: #fff;
    border: 10px solid #fff;
}

.button {
    background-color: rgb(255, 138, 1);
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    color: #000;
    background-color: rgb(227, 125, 5);
}

#button_new {
    background-color: rgb(161, 161, 161);
}

.form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike>span {
    position: relative;
    display: inline-block;
}

.strike>span:before, .strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #000000;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(105, 105, 105, 0.20);
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) {
    background-color: rgb(255, 138, 1);
}

@media screen and (max-width: 850px) {
    ul.navbar li.right, ul.navbar li {
        float: none;
    }

    .empty {
      margin-top: 400px;
    }

    #canvasvideo {
      top: 479px;
    }

}

.comments {
    background-color: #ddd;
    border: 2px solid rgb(255, 138, 1);
    width: 100%;
}

#mdp_forgot {
    color: #777;
}

#title {
    color: #000;
    font-style: normal;
    text-decoration: none;
    font-size: 35px;
    font-size-adjust: none;
}

h3 {
    text-align: center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgba(180, 180, 180, 0.20);
}

ul.pagination li a.active {
    background-color: rgb(255, 138, 1);
    color: #fff;
}

ul.pagination li a:hover:not(.active) {
    background-color: rgba(180, 180, 180, 0.60);
}


/******************** css from bulma ********************/

.image {
    display: block;
    position: relative;
}

.box {
    /* background-color: transparent; */
    border-radius: 6px;
    /* box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02); */
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.tile {
    align-items: stretch;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: min-content;
  }
  
  .tile.is-ancestor {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
  }
  
  .tile.is-ancestor:last-child {
    margin-bottom: -0.75rem;
  }
  
  .tile.is-ancestor:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  
  .tile.is-child {
    margin: 0 !important;
  }
  
  .tile.is-parent {
    padding: 0.75rem;
  }
  
  .tile.is-vertical {
    flex-direction: column;
  }
    
@media screen and (min-width: 769px), print {

    .tile.is-12 {
      flex: none;
      width: 100%;
    }
}

.media {
    border: 3px solid wheat;
}